ARCA_DRIVE_PORT=8080
POSTGRES_DB=arca_drive
POSTGRES_USER=arca_drive
POSTGRES_PASSWORD=SOSTITUISCI_CON_UNA_PASSWORD_LUNGA_E_CASUALE
JWT_SECRET=SOSTITUISCI_CON_ALMENO_32_CARATTERI_CASUALI
MAX_FILE_SIZE_MB=200
