ARCA_DRIVE_PORT=8080
POSTGRES_DB=arca_drive
POSTGRES_USER=arca_drive
POSTGRES_PASSWORD=SOSTITUISCI_CON_UNA_PASSWORD_LUNGA_E_CASUALE
JWT_SECRET=SOSTITUISCI_CON_ALMENO_32_CARATTERI_CASUALI
MAX_FILE_SIZE_MB=200
MAX_UPLOAD_CHUNK_MB=10
ACCESS_TOKEN_MINUTES=15
REFRESH_TOKEN_DAYS=30
TRUST_PROXY=false
REQUIRE_HTTPS=false
COLLABORA_PUBLIC_URL=
COLLABORA_PORT=9980
